body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.city {  
  width: 300px;
  padding: 10px 0;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.temperature {    
  font-size: 40px;
  margin-bottom: 20px;
}
.weather-description {
  width: 300px;
  margin: 20px auto;
  font-size: 20px;
  padding: 12px 0;
  color: #ffffff;
  background-color:#44aadd;
  border-radius: 5px;
}
.weather-icon {
  font-size: 160px;
  color: #44aadd;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}