* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a:focus,
button:focus,
input:focus {
  outline: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: #313940;
  color: #cbd5de;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}
body ::selection {
  background-color: #00c9b7;
  color: #fff;
}
button {
  background: transparent;
  border: 0;
}
ul {
  list-style: none;
}
.main {
  height: 100vh;
  /* overflow-y: hidden; */
}
@media (min-width: 568px) {
  .main {
    display: flex;
  }
}
.slider {
  display: block;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  width: 100%;
  z-index: 1;
}
@media (min-width: 568px) {
  .slider {
    width: calc(100% - 300px);
  }
}
@media (min-width: 768px) {
  .slider {
    width: calc(100% - 400px);
  }
}
.slider-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
  left: -100%;
}

.slider-wrapper.shifting {
  transition: left 0.4s ease-out;
}
.slider-slide {
  position: relative;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 50vh;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.slider-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: 10px solid #00c9b7;
  border-left-color: transparent;
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.slider-slide.preloader-slide::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border: 10px solid #00c9b7;
  border-left-color: transparent;
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media (min-width: 568px) {
  .slider-slide {
    height: 100%;
  }
}
.slider-slide .video {
  height: 100%;
  min-width: 100%;
  min-height: 56.25vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-btns {
  position: absolute;
  bottom: 15px;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-btn {
  border-radius: 50%;
  background-color: rgba(162, 171, 179, 0.4);
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 0 7px;
}
.slider-btn:hover {
  background-color: rgba(162, 171, 179, 0.55);
}
.slider-btn,
.slider-btn svg {
  width: 55px;
  height: 55px;
}
.slider-btn svg {
  fill: #fff;
}
.slider-btn--next {
  transform: rotate(180deg);
}
.sidebar {
  overflow-y: auto;
}
@media (min-width: 568px) {
  .sidebar {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .sidebar {
    width: 400px;
  }
}
.header,
.playlist,
.weather,
.footer {
  padding: 15px;
}
.header {
  position: relative;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}
/* .header::after {
  animation: moveGradient 10s ease-in-out infinite;
  background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
  background-position: 0 50%;
  background-size: 500% 500%;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
} */
.header-title {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

@media (min-width: 568px) {
  .sidebar-main {
    min-height: calc(100vh - 132px);
  }
}

@media (min-width: 1024px) {
  .sidebar-main {
    padding-top: 30px;
  }
}
.audio {
  align-items: center;
  color: #a2abb3;
  display: flex;
  fill: #a2abb3;
  transition: 0.4s ease;
}
.audio:hover {
  color: #cbd5de;
  fill: #cbd5de;
}
.audio-toggle {
  height: 60px;
  width: 60px;
  background-image: url("../assets/svg/play.svg");
  filter: brightness(0.1) saturate(0.1);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s;
}
@media (hover: hover) {
  .audio-toggle:hover {
    filter: brightness(1) saturate(1);
  }
}

.audio-toggle:active {
  transform: scale(1.1);
}
.audio-toggle.playing {
  filter: brightness(1) saturate(1);
}
.audio-toggle.loading {
  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.audio-inner {
  padding-bottom: 35px;
  padding-left: 15px;
  text-transform: capitalize;
  width: calc(100% - 50px);
}
.audio-volume {
  appearance: none;
  background: linear-gradient(
    to top,
    #a2abb3 0%,
    #a2abb3 50%,
    #313940 50%,
    #313940 100%
  );
  border-top: 6px solid #313940;
  border-bottom: 6px solid #313940;
  cursor: pointer;
  display: block;
  height: 16px;
  margin-top: 12px;
  outline: none;
  transition: 0.4s ease;
  width: 100%;
  overflow: hidden;
}
.audio-volume::-webkit-slider-thumb {
  appearance: none;
  background-color: #0bdbac;
  box-shadow: -180px 0 0 180px #0bdbac;
  cursor: pointer;
  transition: 0.4s ease;
  width: 20px;
}
.weather {
  color: #a2abb3;
  fill: #a2abb3;
  margin-top: auto;
  text-align: center;
  transition: 0.4s ease;
}
.weather-inner {
  width: 70%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.weather-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.weather-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather-form {
  height: 60px;
  margin-bottom: 45px;
  overflow: hidden;
  position: relative;
  width: calc(100% - 15px);
  margin-left: 15px;
}
.weather-form input {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 16px;
  height: 100%;
  padding-top: 20px;
  width: 100%;
}
.weather-form input:hover + label {
  border-color: #fff;
}
.weather-form input:focus + label span,
.weather-form input:valid + label span {
  color: #0bdbac;
  font-size: 14px;
  transform: translateY(-150%);
}
.weather-form input:focus + label::after {
  transform: translateX(0);
}
.weather-form label {
  border-bottom: solid 2px #a2abb3;
  bottom: 0;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  transition: 0.4s ease;
  width: 100%;
}
.weather-form label::after {
  border-bottom: solid 3px #0bdbac;
  bottom: -2px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transform: translateX(-101%);
  transition: 0.4s ease;
  width: 100%;
}
.weather-form label span {
  bottom: 5px;
  left: 0;
  position: absolute;
  transition: 0.4s ease;
}
.weather-icon {
  font-size: 78px;
  margin-left: -8px;
}
.weather-icon:hover {
  animation: shake 1.5s;
}

.weather-temperature {
  font-size: 25px;
}
.weather-arrow {
  width: 55px;
  transition-property: transform;
  transition-duration: 2s;
}
.weather-arrow:hover {
  animation: rotating 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate, normal, reverse;
}
.weather-speed {
  font-size: 25px;
}
.fullscreen {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: 0;
  background-size: contain;
  transition: 0.4s ease;
  cursor: pointer;
  background-image: url("../assets/svg/fullscreen-open.svg");
  z-index: 1;
}
.fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
:-webkit-full-screen .fullscreen {
  background-image: url("../assets/svg/fullscreen-exit.svg");
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.github {
  display: block;
  padding-left: 35px;
  height: 29px;
  background: url("../assets/svg/github.svg") no-repeat;
  background-size: contain;
  background-position: left center;
  color: #a2abb3;
  transition: 0.4s ease;
}

.github:hover {
  color: #fff;
}

.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 99px;
  height: 29px;
  background-image: url("../assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
}

.rss-year {
  position: absolute;
  bottom: -1px;
  right: 0;
  font-size: 17px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.4s ease;
}

.rss:hover .rss-year {
  letter-spacing: 0;
  right: -5px;
}

.preloader {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #313940;
  z-index: 1001;
}
.preloader-percent {
  color: #fff;
  font-size: 4vw;
}
.preloader-box {
  margin-top: 10px;
  width: 15vw;
  height: 5px;
  background-color: #fff;
  overflow: hidden;
  text-align: left;
}

.preloader-bar {
  background-color: #0bdbac;
  height: 100%;
}

.loaded_hiding .preloader {
  animation-name: preloaderMain;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.loaded .preloader {
  display: none;
}
.loaded_hiding .preloader-box {
  animation-name: preloaderBox;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
.loaded_hiding .preloader-percent {
  animation-name: preloaderBox;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes preloaderBox {
  70% {
    opacity: 0;
  }
  100% {
    transform: translateY(500px);
  }
}
@keyframes preloaderMain {
  100% {
    transform: translateY(100vh);
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
}

@keyframes blinking {
  0% {
    filter: brightness(0.1) saturate(0.1);
  }
  50% {
    filter: brightness(1) saturate(1);
  }
  100% {
    filter: brightness(0.1) saturate(0.1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  100% {
    transform: rotate(1440deg);
  }
}
