* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a:focus {
  outline: 0;
}
html {  
  background: #313940;
}
body {
  min-height: 100vh;
  background-color: #313940;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background: #313940;
  overflow-x: hidden;
}
.header {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}
.header-title {
  line-height: 80px;
  font-weight: 300;
  color: #fff;
}
.main {
  min-height: calc(100vh - 150px);
  padding: 100px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.btn {
  width: 195px;
  height: 50px;
  padding: 0 18px;
  background-color: #454c53;
  border: 0;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.btn:not(.btn-active):hover {
  background-color: #515961; 
}
.btn:active {
  background-color: #00c9b7;
}
.btn-active {
  background-color: #00b4a4;
}
.btn-active:hover {
  background-color: #00c9b7;
}
.piano {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  max-width: 700px;
  margin: 0 auto;
}
.piano-key {
  position: relative;
  width: 100px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 5px solid #313940;
  border-radius: 0px 0px 12px 12px;
  transition: 0.3s;
  cursor: pointer;
}
.piano-key:hover {
  background-color: #fff;
}
.keys-sharp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70px;
  right: 70px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}
.piano-key.sharp {
  width: 60px;
  height: 210px;
  background-color: #313940;
  border: 0;
  border-radius: 0px 0px 9px 9px;
  top: 0;
  z-index: 3;
  pointer-events: auto;
}
.piano-key.piano-key-active,
.piano-key.sharp.piano-key-active {
  transform: scale(0.96);
}
.piano-key.none {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  pointer-events: none;
}
.piano-key::before {
  content: attr(data-note);
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 32px;
  text-align: center;
  color: #A2ABB3;
  bottom: -60px;
  left: 30px;
  transition: 0.3s;
}
.piano-key:hover::before {
  color: #CBD5DE;
}
.piano-key:active::before {
  color: #fff;
}
.piano-key.sharp::before {
  bottom: 220px;
  left: 10px;
}
.piano-key::after {
  display: none;
  content: attr(data-letter);
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 32px;
  text-align: center;
  color: #A2ABB3;
  bottom: -60px;
  left: 30px;
  transition: 0.3s;
}
.piano-key:hover::after {
  color: #CBD5DE;
}
.piano-key:active::after {
  color: #fff;
}
.piano-key.sharp::after {
  bottom: 220px;
  left: 10px;
}
.piano-key.letter::before {
  display: none;
}
.piano-key.letter::after {
  display: block;
}
.fullscreen {
  position: fixed;
  top: 110px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: 0;
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
  background-image: url('assets/svg/fullscreen-open.svg');
}
.fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
:-webkit-full-screen .fullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}
.footer {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}
.footer-container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.github {
  display: block;
  width: 120px;
  height: 65px;
  padding-left: 45px;
  background-image: url('assets/svg/github.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 65px;
  color: #cbd5de;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}
.github:hover {
  color: #fff;
}
.rss {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 120px;
  height: 35px;
  background-image: url('assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
}
.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}
@media (max-width: 720px) {
  .main {
    padding-top: 40px;
  }
  .piano {
    width: 310px;
  }
  .piano-key {
    width: 44px;
    height: 200px;
    border-radius: 0px 0px 8px 8px;
    border: 2px solid #313940;
  }
  .keys-sharp {
    left: 26px;
    right: 26px;
  }
  .piano-key.sharp {
    width: 35px;
    height: 120px;
    border-radius: 0px 0px 6px 6px;
  }
  .piano-key::before {
    width: 30px;
    height: 30px;
    font-size: 22px;
    bottom: -50px;
    left: 5px;
  }
  .piano-key::after {
    width: 30px;
    height: 30px;
    font-size: 22px;
    bottom: -50px;
    left: 5px;
    transition: 0.3s;
  }
  .piano-key.sharp::before {
    bottom: 140px;
    left: 0px;
  }
  .piano-key.sharp::after {
    bottom: 140px;
    left: 0px;
  }
  .btn-container {
    width: 244px;
    height: 40px;
    margin-bottom: 100px;
  }
  .btn {
    width: 120px;
    height: 40px;
  }
  .fullscreen {
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
