* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #313940;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a:focus {
  outline: 0;
}

label:not(.btn) {
  display: block;
  position: relative;
  margin-bottom: 60px;
  margin-right: 140px;
  color: #A2ABB3;
  font-size: 18px;
}

label:hover {
  color: #CBD5DE;
}

input[type="range"] {
  display: block;
  appearance: none;
  width: 400px;
  height: 6px;
  background-color: #A2ABB3;
  margin-top: 22px;
  outline: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  cursor: pointer;
}

label:hover input[type="range"] {
  background-color: #73E29B;
}

label:active input[type="range"] {
  background-color: #F9F871;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #313940;
  border: 4px solid #A2ABB3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

label:hover input[type="range"]::-webkit-slider-thumb {
  border-color: #73E29B;
}

label:active input[type="range"]::-webkit-slider-thumb {
  border-color: #F9F871;
}

output {
  position: absolute;
  width: 60px;
  height: 41px;
  right: -80px;
  top: 25px;
  background-color: #313940;
  border: 2px solid #A2ABB3;
  text-align: left;
  padding-left: 10px;
  line-height: 40px;
  border-radius: 5px;
  transition: 0.3s;
}

label:hover output {
  border-color: #73E29B;
}

label:active output {
  border-color: #F9F871;
}

.header {
  text-align: center;
  width: 100%;
  padding: 19px 0 18px;
  margin-bottom: 70px;
  background: #545C64;
  border-bottom: 1px solid #CBD5DE;
}

.header-title {
  font-weight: 400;
  color: #fff;
}

.container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.btn-container {
  margin-bottom: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.btn-container > *:not(:last-child) {
  margin-right: 10px;
}

.btn {
  min-width: 120px;
  padding: 0 18px;
  background-color: transparent;
  border: 2px solid #00C9B7;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn:not(.btn-active):hover {
  background-color: #73E29B;
  border-color: #73E29B;
  color: #313940;
}

.btn:not(.btn-active):active {
  background-color: #F9F871;
  border-color: #F9F871;
  color: #313940;
}

.btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-load {
  position: relative;
  display: inline-flex;
  height: 100%;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.btn-load--input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

:root {
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue: 0deg;
}

img {
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%)) sepia(var(--sepia, 0%)) saturate(var(--saturate, 100%)) hue-rotate(var(--hue, 0deg));
}

.fullscreen {
  position: fixed;
  top: 120px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: 0;
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
}

.fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.openfullscreen {
  background-image: url('assets/svg/fullscreen-open.svg');
}

.exitfullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  border-top: 1px solid #CBD5DE;
  background-color: #313940;
}

.footer-container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.github {
  display: block;
  width: 120px;
  height: 65px;
  padding-left: 65px;
  background-image: url('assets/svg/github-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 65px;
  color: #CBD5DE;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}

.github:hover {
  color: #fff;
}

.rss {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 120px;
  height: 35px;
  background-image: url('assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #fff;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}

.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}

@media (max-width: 720px) {

  .fullscreen {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
}
