* {
  box-sizing: border-box;
}
html {
  background-color: #313940;
}
body {
  padding: 0;
  padding-top: 80px;
  margin: 0;
  min-height: 100vh;
  background-color: #313940;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

label {
  display: block;
  position: relative;
  margin-bottom: 60px;
  margin-right: 140px;
  color: #ddd;
}

input[type="range"] {
  display: block;
  appearance: none;
  width: 400px;
  height: 10px;
  background-color: #6F757A;
  margin-top: 20px;
  outline: none;
  border-radius: 0.25rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 32px;
  height: 32px;
  background-color: #313940;
  border: 5px solid #6F757A;
  border-radius: 50%;
  cursor: pointer;
}

output {
  position: absolute;
  width: 60px;
  height: 40px;
  right: -80px;
  top: 20px;
  background-color: #313940;
  border: 2px solid #6F757A;
  text-align: left;
  padding-left: 10px;
  line-height: 40px;
}

.btn-container {
  position: fixed;
  top: 40px;
  right: 120px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.btn {
  width: 120px;
  background-color:rgba(255, 255, 255, 0.3);
  font-size: 18px;
  color:#313940;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn:active {
  filter: brightness(0.9);
}

.btn-active {
  background-color: #ffaa00;
}

.button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 120px;
  text-align: center;
  cursor: pointer;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background:rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: #313940;
  font-size:18px;
}

.button-wrapper span.label:hover {
  filter: brightness(1.1);
}

.button-wrapper span.label:active {
  filter: brightness(0.9);
}

.btn-load {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

:root {
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue: 0deg;
}

img {  
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%)) sepia(var(--sepia, 0%))  saturate(var(--saturate, 100%)) hue-rotate(var(--hue, 0deg));
}

.fullscreen {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: 0;
  background-size: contain;
}

.openfullscreen {
  background-image: url('assets/svg/fullscreen-open.svg');
}

.exitfullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
}

/* .github::after {
  content: '2021';
  padding-left: 30px;
  text-decoration: none;
} */

.github {
  width: 260px;
  height: 65px;
  padding-left: 65px;
  background-image: url('assets/svg/github-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 65px;
  color: #c0c0c0;
  font-size: 18px;
  font-family: Arial;
}

.rss {
  width: 120px;
  height: 40px;
  background-image: url('assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 720px) {

  .fullscreen {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
  }
}
